{% extends 'base.html.twig' %}
{% block title %}{{ post.title }} | {{ 'app.website_name'|trans }}{% endblock %}
{% block body_id 'blog_post_show' %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('main') }}">Home</a></li>
            <li class="breadcrumb-item">
                <a href="{{ path('section.canonical', {slug: post.getSection.slug}) }}">
                    {{ post.getSection.title }}
                </a>
            </li>
            {# <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li> #}
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-book-open"></i>
             {{ post.getSection.title }}
        </span>
    </p>

    {{ post.content|markdown_to_html|sanitize_html }}

    {{ include('blog/_post_tags.html.twig') }}


{% endblock %}

{% block sidebar %}
    {% if is_granted('edit', post) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_post_edit', {id: post.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_post'|trans }}
            </a>
        </div>
    {% endif %}

    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}

    {{ include('blog/_rss.html.twig') }}
{% endblock %}
